
{% extends "base.html" %}
{% block content %}
<div class="card">
  <h2>{{ _('axioms.title') }}</h2>
  <ol>
    <li><strong>{{ _('axioms.a1.title') }}</strong> {{ _('axioms.a1.text') }}</li>
    <li><strong>{{ _('axioms.a2.title') }}</strong> {{ _('axioms.a2.text') }}</li>
    <li><strong>{{ _('axioms.a3.title') }}</strong> {{ _('axioms.a3.text') }}</li>
    <li><strong>{{ _('axioms.a4.title') }}</strong> {{ _('axioms.a4.text') }}</li>
    <li><strong>{{ _('axioms.a5.title') }}</strong> {{ _('axioms.a5.text') }}</li>
    <li><strong>{{ _('axioms.a6.title') }}</strong> {{ _('axioms.a6.text') }}</li>
  </ol>
  <p class="note">{{ _('axioms.note') }}</p>
</div>
{% endblock %}
