
{% extends "base.html" %}
{% block content %}
<div class="grid two">
  <div class="card core">
    <h2>{{ _('spectrum.title') }}</h2>
    <p>{{ _('spectrum.text1') }}</p>
    <div class="math-block">
      <p>$$ m_n \propto n^{1/D_{\mathrm{eff}}} $$</p>
    </div>
    <p>{{ _('spectrum.text2') }}</p>
  </div>
  <div class="card">
    <h3>{{ _('spectrum.imp.title') }}</h3>
    <ul>
      <li>{{ _('spectrum.imp.i1') }}</li>
      <li>{{ _('spectrum.imp.i2') }}</li>
    </ul>
  </div>
</div>
{% endblock %}
